body {
    overscroll-behavior-y: contain;
}
/*team logo css*/
.team-logo {
    text-align: center;
    margin-right: 2em;
    width: 8em !important;
    height: 8em !important;
}

.team-logo.center {
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    line-height: 90px;
}

.team-logo-title.card-title {
    width: 100%;
    text-align: center;
    font-size: 24px;
    border-radius: 0px 0 0 0 !important;
}

/*button*/
.go-top {
    position: fixed;
    bottom: 1em;
    right: 1em;
}

.btn-back {
    position: fixed;
    bottom: 1em;
    left: 1em;
}

/*favorite*/

.favorite{
    float:right;
    color:silver;
}
.favorite.yes {
    color: #ffd700;
}

/*card container css*/

.card {
    margin: 0 0 0 0 !important;
}

.card-image{
    display: flex;
    justify-content: center;
}

.card-image.height{
    height: 200px;
}

.card-image.smallheight{
    height: 150px;
}

/*toast data*/

#toast-container {
    top: 10%;
    right: 10% !important;
    left: 10% !important;
    min-width: 50px !important;
}

/*set position*/

.notif {
    top: 10em;
    position: relative;
}

.network {
    max-width: 13em !important;
}

.empty{
   max-width: 13em !important;   
}

/*responsive*/
.responsive-img {
    transition: 0.4s;
}

.responsive-img.radius {
    border-radius: 5px;
    margin-bottom: 0.5em;
}

.responsive-img.radius:hover {
    transform: scale(1.1);
}

/*prorgress*/
.progress {
    margin: auto !important;
    top: 20em;
    width: 50% !important;
}

/*navigation*/
.sidenav-overlay {
    z-index: 1;
}

#nav {
    position: fixed;
    z-index: 2;
    top: 0;
}

.rem-mt {
    margin-top: 10px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
}

/*table*/

.text-center{
    text-align: center;
}

.text-left {
    text-align: left !important;
}

.text-right {
    text-align: right !important;
}

.split-para{ 
    display:block;
    margin:10px;
    max-width: 100%
    font-size: 5px;
}

.progress-team{
    float:center;
    text-align: center;
    width:25%;
    color: orange;
    font-size: 10px;   
}

.status-team{
    float:center;
    text-align: center;
    width:25%;
    color: blue;
    font-size: 10px;   
}

.text-versus{
    font-size: 14px;   
}
.home-team{
    max-width: 25%;
    float:left;
    width:25%;
}

.home-team.color{
    color: green;
}
.vs-team{
    float:center;
    width:25%;
    color: black;
    font-size: 20px;   
}
.away-team{
    max-width: 25%;
    float:right;
    width:25%;
}

.away-team.color{
    color: red;
}

.row_table {
    margin-top: 4px;
    padding: 0 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}

.column_table {
    width: 100%;
    margin: 0 auto;

}

table {
    max-width: 100%;
    width: 100%;
    margin: auto;
    background: #fff;
    border: 1px solid #dedede
}

table thead tr th {
    padding: 20px;
    border: 1px solid #dedede;
    color: #000
}

table.table-striped tbody tr:nth-of-type(odd) {
    background: #f9f9f9
}

table.result-point tr td.number {
    width: 100px;
    position: relative;
}

table tr td {
    padding: 10px 20px;
    border: 1px solid #dedede;
}

table.result-point tr td .fa {
    font-size: 20px;
    position: absolute;
    right: 20px;
}

table tr td img {
    max-width: 32px;
    float: left;
    margin-right: 11px;
    margin-top: 1px;
    border: 1px solid #dedede
}

/*end of css table*/

/*content*/
#body-content {
    margin-top: 5em !important;
}

.img-logo {
    margin-right: 0.3em;
    position: relative;
    top: 0.1em;
    width: 32px;
}

.img-logo:hover {
    transform: scale(1.3);
}

@media screen and (max-width: 768px) {
    .card.horizontal {
        display: block;
    }
    .card.horizontal .card-image {
        max-width: 100% !important;
    }
    .card.horizontal .card-image{
        width: 100% !important;
    }

    .split-para{ 
        display:block;
        margin:10px;
        max-width: 100%
    }

    table {
        text-align: center;
        align-content: center;
        max-width: 70%;
    }

    table thead tr th {
        padding: 2px;
    }

    table.result-point tr td.number {
        width: 5px;
        position: relative;
    }

    table tr td {
        padding: 1px 2px;
    }


    table.result-point tr td .fa {
        font-size: 5px;
        position: absolute;
        right: 2px;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}